<h2><strong>Top Sports: Bet Tracker<strong></h2>

<h4>Login here:</h4><br />

<form method="POST"  action="/login">
    Username: <input type="text" name="username"><br /><br />
    Password: <input type="password" name="password"><br /><br />
    <input type="submit" value="Login">
</form><br />

<a href="/users/signup"> Sign Up </a>
