<h1>Edit your bet!</h1>

<form method="POST" action="/bets/<%= @bet.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    

    Team: <input type="text" name="team"><br />
    Date: <input type="text" name="date"><br />
    Amount: <input type="number" name="amount"><br />
    <input type="submit">


</form>
    


