<h1>Edit your bet!</h1>

<form method="POST" action="/bets/<%= @bet.id%>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <select name="user_id">
        <% @users.each do | user |%>
            <option value="<%= user.id %>"><%= user.username %></option>
        <% end %>
    </select><br />

    Team: <input type="text" name="team"><br />
    Date: <input type="text" name="date"><br />


</form>
    


