<h1> New </h1>

<form method="POST" action="/bets">
    <label for="sport">Sport</label>
    <input type=text" sport="sport"><br />
    <label for="date">Date</label>
    <input type=text" date="date"><br />
    <label for="amount">Amount</label>
    <input type=integer" date="date"><br />
    <input type=submit>
    

</form>