<h1> Keep Track of Your Bets Below </h1>

    <form method="POST" action="/bets">
        Team: <input type="text" name="team"><br />
        Amount: <input type="number" name="amount"><br />
        Date: <input type="text" name="date"><br />

        <input type="submit">
    </form>

