<h1> Keep Track of Your Bets Below </h1>

<form method="POST" action="/bets">
    <label for="amount">Amount</label>
    <input type="number" name="amount"><br />
    <label for="team">Team</label>
    <input type="text" name="team"><br />
    <label for="date">Date</label>
    <input type="text" name="date"><br />
    
    <input type=submit>
    

</form>