<h1> Placed Bets </h1>

<h2>Team: <%= @bet.team %></h2>
<h2>Date: <%= @bet.date %></h2>
<h2>Amount: <%= @bet.amount %></h2>

<a href="/bets/<%=@bet.id %>/edit">Edit this bet?</a> </ br>

<a href="/bets"> Back to All Bets </a>