<h1>Edit your bet!</h1>

<form method="POST" action="/bets/<%= @bet.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">

    Team:<br>
    <input type="text" name="team" value="<%=@bet.team %>"><br>
    Amount:<br> 
    <input type="number" name="amount" value="<%=@bet.amount %>"><br>
    Date:<br> 
    <input type="date" name="date" value="<%=@bet.date%>"><br>

    <br><input type="submit">

</form>
    


