<div class="wrapper"><h1> Who's Winning Tonight <%= current_user.username.titleize %> </h1></div>


<div class="wrapper">
<h2>Betslip:</h2>
    <form method="POST" action="/bets">
        Team:<br>
        <input type="text" name="team"><br>
        Amount:<br>
        <input type="number" name="amount"><br>
        Date:<br>
        <input type="date" name="date"><br>
    
        <br><input type="submit">
    </form>
</div>

<div class="wrapper"> 
  <h2> NBA Matchups </h2>
  <% @games.each do |game| %>
    <div class="wrapper"><%= "Matchup: #{game.matchup}<br> Odds: #{game.odds}" %></div><br>
  <% end %>
</div>



    

