<h1>Login here!</h1>

<form method="POST"  action="/login">
    Username: <input type="text" name="usernamemail"><br />
    Password: <input type="password" name="password"><br />
    <input type="submit" value="Login!">
</form>