
<div class="container">
  
  <img src="images/olympic_resize.png" class="responsive">
  <div class="col-md-8 col-md-offset-2">
    <h2>Top Sports Book Bet Tracker</h2>
    
    <div class="content">
      <h2>Welcome <%= current_user.username.titleize %></h2>
      
      <a href="/bets"><button>Take me to the Action</button></a><br />

      <a href="/bets/new"><button>Make some action</button></a><br />
      
    </div>
  </div>
</div>
