
<div class="container">
  <div class="wrapper">
    <h2>Welcome to Top Sports: Bet Tracker</h2>
    <h3>Current User: <%= current_user.username.titleize %></h3>
  </div>
    <img src="images/olympic_resize.png" class="responsive">
</div>
